[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "/Users/sisk/.vim/bundle/nerdtree"]
	path = /Users/sisk/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
